.main {
  width: 60%;
  margin: 0 auto;
}

.lecture-list__title{
  text-align: center;
}

.lecture-list__items{
  list-style: decimal;
}

.lecture-list__item a{
  text-decoration: none;
}

.lecture-title{
  text-align: center;
}

.reactions {
  display: flex;
  justify-content: space-between;
}

.reactions__radio-wrapper {
  position: relative;
  width: 17%;
}

.reactions__radio {
  display: none;
}

.reactions__label {
  display: block;
  cursor: pointer;
  filter: grayscale(100%);
  opacity: 0.7;
}

.reactions__radio:checked + .reactions__label, .reactions__radio:hover + .reactions__label{
  filter: none;
  opacity: 1;
}

.results__items{
  display: flex;
  flex-direction: column-reverse
}

.results__item{
  display: flex;
  align-items: center;
}

.results__icon{
  width: 40px;
  margin: 5px;
}

.results__span{
  display: inline-block;
  background: #42ff9e;
  padding-left: 5px;
  padding-right: 5px;
}
